<mat-card class="card">
  <h1>Rastreio de pedidos</h1>
  <mat-card-content>
    <div class="container">
      <mat-card-subtitle class="title"
        >Deseja acompanhar sua encomenda?
      </mat-card-subtitle>
      <div class="container">
        <mat-form-field hintLabel="Máximo 13 caracteres" appearance="legacy">
          <mat-label>Informe o código de rastreio</mat-label>
          <input
            [(ngModel)]="order"
            name="order"
            required
            matInput
            #input
            maxlength="13"
            placeholder="Ex. AA987654321BR"
          />
          <mat-hint align="end">{{ input.value?.length || 0 }}/13</mat-hint>
        </mat-form-field>
        <button (click)="trackingOrders()" mat-button>
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>

  <div class="card-result">
    <div class="cards" *ngFor="let event of object.eventos">
      <span>{{ origin }}</span>
      <span> Destino: {{event.local}} </span>
      <span> Data e hora: {{event.data}} às {{event.hora}} </span>
      <span> Último status: {{event.status}} </span>
    </div>
  </div>

  <footer>
    &copy; 2022 - Rastreio de pedidos -
    <a
      mat-list-item
      href="https://github.com/nosremehj/tracking-orders"
      target="_blank"
    >
      Github
    </a>
  </footer>
</mat-card>
